.dashboard-flot-chart {
    height: 275px;
}

.dashboard-donut-chart {
    height: 265px;
}

.dashboard-line-chart {
    height: 250px;
}

.dashboard-stat-list {
    list-style: none;
    padding-left: 0;
    margin-top: 40px;

    li {
        padding: 16px 0 0 0;

        small {
            font-size: 8px;
        }
    }
}

.dashboard-task-infos {
    .progress {
        height: 10px;
        margin-bottom: 0;
        position: relative;
        top: 6px;
    }
}
