@import '_mixins';
@import '_variables';

/* Navbar ====================================== */
@import '_navbar';

/* Material Icons ============================== */
@import 'materialicons';

/* Helpers ===================================== */
@import '_helpers.scss';

/* Custom Animate ============================== */
@import '_customanimate.scss';

/* Demo ======================================== */
@import '_demo.scss';

/* Materialize Css | Taken from www.materializecss.com */
@import '../css/materialize.css';

/* Media ======================================= */
@import '_media.scss';

/* General ===================================== */
@import '_general.scss';

/* Dashboard =================================== */
@import '_dashboard.scss';

/* Buttons ===================================== */
@import '_buttons.scss';

/* Bootstrap Tags Input ======================== */
@import '_tagsinput.scss';

/* noUISlider ================================== */
@import '_noUISlider.scss';

/* Multi Select ================================ */
@import '_multiselect.scss';

/* Card ======================================== */
@import '_card.scss';

/* Infobox ===================================== */
@import '_infobox.scss';

/* Alerts ====================================== */
@import '_alerts.scss';

/* Dialogs (SweetAlert) ======================== */
@import '_dialogs.scss';

/* Checkbox & Radio ============================ */
@import '_checkboxradio.scss';

/* Switch ====================================== */
@import '_switch.scss';

/* DateTime Picker ============================= */
@import '_datetimepicker.scss';

/* Bootstrap Select ============================ */
@import '_bootstrapselect.scss';

/* Tooltip & Popovers ========================== */
@import '_tooltippopovers.scss';

/* Nav Tabs ==================================== */
@import '_navtabs.scss';

/* Thumbnails ================================== */
@import '_thumbnails.scss';

/* Modals ====================================== */
@import '_modals.scss';

/* Labels ====================================== */
@import '_labels.scss';

/* Collapse ==================================== */
@import '_collapse.scss';

/* Tables ====================================== */
@import '_tables.scss';

/* Panel ======================================= */
@import '_panels.scss';

/* Progress Bars =============================== */
@import '_progressbars.scss';

/* Ion Range Slider ============================ */
@import '_ionrangeslider.scss';

/* Input Group ================================= */
@import '_inputformgroup.scss';

/* Color Picker ================================ */
@import '_colorpicker.scss';

/* Dropzone ==================================== */
@import '_dropzone.scss';

/* Breadcrumbs ================================= */
@import '_breadcrumbs.scss';

/* Badge | List Group Item ===================== */
@import '_badgelistgroupitem.scss';

/* Pagination & Pager ========================== */
@import '_pagination.scss';

/* Media Object ================================ */
@import '_mediaobject.scss';

/* Form Wizard ================================= */
@import '_formwizard.scss';

/* Waves ======================================= */
@import '_waveseffect.scss';

/* Page Loader ================================= */
@import '_pageloader.scss';

/* Preloaders ================================== */
@import '_preloaders.scss';

/* Navbars ===================================== */
@import '_navbar.scss';

/* Dropdown Menu =============================== */
@import '_dropdownmenu.scss';

/* Left Sidebar & Overlay ====================== */
@import '_leftsidebaroverlay.scss';

/* Bootstrap Notify ============================ */
@import '_bootstrapnotify.scss';

/* Jquery Nestable ============================= */
@import '_jquerynestable.scss';

/* Login Page ================================== */
@import 'pages/_loginpage.scss';

/* Sign Up Page ================================ */
@import 'pages/_signuppage.scss';

/* Forgot Password Page ======================== */
@import 'pages/_forgotpasswordpage.scss';

/* 404 Not Found Page ========================== */
@import 'pages/_404.scss';

/* 500 Server Error Page ======================= */
@import 'pages/_500.scss';

/* Maps ======================================== */
@import '_maps.scss';

/* Charts ====================================== */
@import '_charts.scss';

/* Searchbar =================================== */
@import '_searchbar.scss';

/* Jquery DataTable ============================ */
@import '_jquerydatatable.scss';

/* Light Gallery ================================ */
@import '_lightgallery.scss';

/* For Internet Explorer 10 ===================== */
@import 'browser-support/_ie10.scss';

/* For Internet Explorer 11 ===================== */
@import 'browser-support/_ie11.scss';